# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
  ^wandb/|
  ^profiler_logs/|
  ^\.kagglehub_cache/|
  ^outputs/
  ^uv.lock/

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

# ---- Python formatting ----
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
    -   id: ruff-format      # formatter (som black)
    -   id: ruff             # linter

# ---- Basic Python sanity ----
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black

# ---- Type checking ----
- repo: local
  hooks:
    - id: mypy
      name: mypy (via uv)
      entry: uv run mypy --explicit-package-bases --config-file pyproject.toml
      language: system
      types: [python]
      files: ^(src)/.*\.py$
