# pre-commit auto-update workflow
# Dependabot does not support updating pre-commit so this workflow will do that
name: Pre-commit auto-update

on:
  schedule:
    - cron: "0 0 * * 0" # Every Sunday 00:00 UTC
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Sync dependencies (dev)
        run: uv sync --frozen --group dev

      - name: Run pre-commit autoupdate
        run: uv run pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-autoupdate
          title: "Auto-update pre-commit hooks"
          commit-message: "Auto-update pre-commit hooks"
          body: "Update versions of tools in pre-commit configs to latest version."
          labels: dependencies
